{
  "name_prefix": "Blockstack.Gaia.Hub",
  "region": "us-west-2",
  "profile": "default",
  "version": "1549643256",
  "vpc_id": "vpc-xxxxxxxx",
  "subnet_id": "subnet-xxxxxxxx",
  "user_data_file": "gaia.ign"
}
