# certbot.timer
[Unit]
Description=Certbot Renewal Timer

[Timer]
OnCalendar=*-*-* 00:00:00
OnCalendar=*-*-* 12:00:00

[Install]
WantedBy=timers.target
