# clone-repo.service
[Unit]
Description=Clone Gaia Repo
Before=gaia.service
Before=nginx.service
Before=certbot.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "\
if [ -d /gaia ]; then \
  /usr/bin/git -C /gaia pull; \
else \
  /usr/bin/git clone -b master --single-branch https://github.com/blockstackpbc/gaia-docker /gaia; \
fi; \
rsync -av --exclude='/gaia/unit-files/clone-repo.service' /gaia/unit-files/ /etc/systemd/system/; \
/usr/bin/systemctl daemon-reload\
"

[Install]
WantedBy=multi-user.target
