# gaia-hub.service
[Unit]
Description=Gaia Hub Service
PartOf=gaia.service
After=gaia.service

[Service]
WorkingDirectory=/gaia
EnvironmentFile=/gaia/gaia.env
TimeoutStartSec=0
#Restart=always
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
ExecStartPre=/bin/bash /gaia/scripts/update-configs.sh
ExecStartPre=-/usr/bin/docker pull ${HUB_IMAGE}
ExecStart=/usr/bin/docker run \
  --rm \
  --net=gaia \
  -m 128m \
  --oom-kill-disable \
  -p 3000:3000 \
  -v /gaia/hub-config:/src/hub/etc \
  -v ${LOCAL_DISK}:${GAIA_DISK_STORAGE_ROOT_DIR} \
  -e CONFIG_PATH="/src/hub/etc/config.json" \
  -e GAIA_DISK_STORAGE_ROOT_DIR="${GAIA_DISK_STORAGE_ROOT_DIR}" \
  --name gaia-hub \
  ${HUB_IMAGE} \
node lib/index.js

ExecStop=-/usr/bin/docker stop gaia-hub
ExecReload=-/usr/bin/docker restart gaia-hub

[Install]
WantedBy=gaia.service
