# gaia.service
[Unit]
Description=Gaia
Requires=docker.service
Requires=create-docker-network.service
Requires=clone-repo.service
Requires=letsencrypt-init.service
Requires=check-dns.service
After=docker.service
After=create-docker-network.service
After=clone-repo.service
After=letsencrypt-init.service
After=check-dns.service
ConditionPathExists=/tmp/letsencrypt.init
ConditionPathExists=/tmp/dns_checked

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
