# gaia.service
[Unit]
Description=Gaia Hub Service
After=docker.service
ConditionFileIsExecutable=/usr/local/bin/docker-compose

[Service]
WorkingDirectory=/gaia
TimeoutStartSec=0
Restart=on-failure
RemainAfterExit=yes
RestartSec=30
ExecStartPre=-/usr/bin/docker-compose pull
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yaml up -d

ExecStop=-/usr/local/bin/docker-compose -f docker-compose.yaml down
ExecReload=-/usr/local/bin/docker-compose -f docker-compose.yaml down; /usr/loca/bin/docker-compose -f docker-compose.yaml up -d

[Install]
WantedBy=gaia.service
