# letsencrypt_init.service
[Unit]
Description=LetsEncrypt Init Service
ConditionPathExists=!/tmp/letsencrypt.init
ConditionFileIsExecutable=/gaia/scripts/letsencrypt-init.sh

[Service]
Type=oneshot
RemainAfterExit=no
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -x /gaia/scripts/letsencrypt-init.sh

[Install]
WantedBy=multi-user.target
