# letsencrypt.service
[Unit]
Description=Install LetsEncrypt Certs
ConditionPathExists=/tmp/letsencrypt.init
ConditionPathExists=/tmp/dns_checked
ConditionPathExists=!/tmp/ssl_created
ConditionFileIsExecutable=/gaia/scripts/letsencrypt.sh
Requires=check-dns.service
Requires=letsencrypt-init.service
Requires=nginx.service
After=check-dns.service
After=letsencrypt-init.service
After=nginx.service

[Service]
Type=oneshot
WorkingDirectory=/gaia
EnvironmentFile=/etc/environment
EnvironmentFile=/gaia/gaia.env

RemainAfterExit=yes
ExecStart=/bin/bash /gaia/scripts/letsencrypt.sh

[Install]
WantedBy=multi-user.target
