# nginx.service
[Unit]
Description=Nginx SSL Service
Requires=gaia.service
PartOf=gaia.service
After=gaia.service
After=gaia-hub.service
After=gaia-reader.service
After=gaia-admin.service
ConditionPathExists=/tmp/letsencrypt.init

[Service]
WorkingDirectory=/gaia
EnvironmentFile=/gaia/gaia.env
EnvironmentFile=/etc/environment
TimeoutStartSec=0
#Restart=always
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
ExecStartPre=sh /gaia/scripts/update-configs.sh
ExecStartPre=-/usr/bin/docker stop nginx
ExecStartPre=-/usr/bin/docker pull ${NGINX_IMAGE}
ExecStart=/usr/bin/docker run \
  --rm \
  --net=gaia \
  -m 128m \
  -p 80:80 \
  -p 443:443 \
  --expose=80 \
  --expose=443 \
  --oom-kill-disable \
  -v /gaia/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf \
  -v /gaia/nginx/conf.d/nginx.conf:/etc/nginx/nginx.conf \
  -v /gaia/nginx/html/index.html:/usr/share/nginx/html/index.html \
  -v ${LOCAL_CERTBOT_CONF}:${REMOTE_CERTBOT_CONF} \
  -v ${LOCAL_CERTBOT_WWW}:${REMOTE_CERTBOT_WWW} \
  --name nginx \
  ${NGINX_IMAGE}

ExecStop=-/usr/bin/docker stop nginx
ExecReload=-/usr/bin/docker restart nginx

[Install]
WantedBy=gaia.service
