# storage.mount
[Unit]
Description=Mount Local Disk to /storage
ConditionPathExists=/storage
Before=gaia.service

[Mount]
What=/dev/xvdf
Where=/storage
Type=xfs

[Install]
WantedBy=local-fs.target
